#       1

In [1]:
r = float(input('Enter the radius of circle'))
a=3.14*r*r
print('Area of circle=',a)

Enter the radius of circle3
Area of circle= 28.259999999999998

#        2

In [2]:
student_name=input('Enter the student name')

Enter the student name  Anisha

In [3]:
roll_number=input('Enter the roll number')

Enter the roll number21

In [4]:
mark=input('Enter the mark')

Enter the mark78

#        3

In [4]:
list=[12,3,47,10]

In [5]:
a=max(list)

In [6]:
print(a)

47

# 4

In [18]:
previous_num=0
for i in range(1,11):
    _sum=previous_num+i
    print("current num",i,"previous num",previous_num,"sum:",_sum)
    previous_num=i

current num 1 previous num 0 sum: 1
current num 2 previous num 1 sum: 3
current num 3 previous num 2 sum: 5
current num 4 previous num 3 sum: 7
current num 5 previous num 4 sum: 9
current num 6 previous num 5 sum: 11
current num 7 previous num 6 sum: 13
current num 8 previous num 7 sum: 15
current num 9 previous num 8 sum: 17
current num 10 previous num 9 sum: 19

# 5

In [21]:
n=int(input('Enter the number divisible by 5: '))
if n%5==0:
    print('the number is divisible by 5')
else:
        print('the number is not divisible by 5')

Enter the number divisible by 5: 10
the number is divisible by 5

#### 6

In [1]:
num=int(input('enter any num'))
if num>1:
    for i in range(2,num):
        if(num%i)==0:
            print(num,'is not prime')
            break
    else:
        print(num,'is prime')
else:
    print(num,'is not prime')

enter any num12
12 is not prime

# 7

In [3]:
given_list=[10,40,30,70]
print('input list:',given_list)
given_list.reverse()
print('output=reversed input list: ',given_list)

input list: [10, 40, 30, 70]
output=reversed input list:  [70, 30, 40, 10]

# 8

In [8]:
for i in range(1,5):
    print('*' * i)

*
**
***
****

# 9

In [10]:
L=[34,12,7]
print(max(L))

34

# 10

In [16]:
num_rows=5
for i in range(1,6):
    print('*' * i)
for i in range(4,0,-1):
    print('*' * i)

*
**
***
****
*****
****
***
**
*